{{!-- Stock Symbol and Founded Date --}}
<div class="d-flex flex-row justify-content-between">
  <div class="p-2"> {{ company.ipo.stock_symbol }} </div>
  <div class="p-2">Founded: {{foundedDate company.founded_day company.founded_month company.founded_year}} </div>
</div>

{{!-- Title --}}
<h1 class="display-3 text-center text-capitalize mt-1">{{ addSpace company.name }}</h1>

{{!-- Overview --}}
<p class="lead text-center mt-4 text-ellipsis-company">
  {{ company.overview }}
</p>

{{!-- Executives --}}
{{#if company.relationships}}
<nav class="navbar navbar-light bg-light">
  <span class="navbar-brand mb-0 h1">Executives</span>  
</nav>
{{/if}}

<div class="card-deck">
  {{#each company.relationships}}
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" alt="Card image cap" src={{lookup ../company.images @index}}>
    <div class="card-body">
      <h5 class="card-title">{{ this.person.first_name }} {{ this.person.last_name }}</h5>
      <h6 class="card-subtitle">{{ this.title }}</h6>
    </div>
  </div>
  {{/each}}
</div>

{{!-- Office's --}}
{{#if company.offices}}
<nav class="navbar navbar-light bg-light">
  <span class="navbar-brand mb-0 h1">Office's</span>
</nav>
{{/if}}

<div class="text-center">
  <div class="card-deck">
    {{#each company.offices}}

    <div class="card" style="width: 18rem;">
      <img class="card-img-top img-fluid mx-auto img-size" src={{addImage }} alt="Card image cap">
      <div class="card-body">
        <h5 class="card-text">{{populateDescription this.description}}</h5>
        <h6 class="card-text">{{this.address1}}, {{this.address2}}, {{this.zip_code}}</h6>
        <h6 class="card-text">{{this.city}}, {{this.state_code}}, {{this.country_code}}</h6>
      </div>
    </div>
    {{/each}}
  </div>
</div>