
  {{!-- Title --}}
  <h1 class="display-4 text-center mt-5 mb-4">Register a Company</h1>
  {{> message}}
  {{!-- Form --}}
  {{!-- !enctype ===  enctype="application/x-www-form-urlencoded"  --}}
  <form method="POST">
    <div class="form-group">
      <label for="exampleInputEmail1">Title</label>
      <input type="text" class="form-control rounded-pill" id="input-title" aria-describedby="" placeholder="Enter Title" name="title" value={{rememberFields value.title}}>
      <small id="input-title-warning" class="form-text text-muted font-italic">Title cannot be changed later</small>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputEmail4">Email</label>
        <input type="email" class="form-control rounded-pill" name="email" id="inputEmail4" placeholder="Email" value={{rememberFields value.email}}>
      </div>
      <div class="form-group col-md-6">
        <label for="inputPassword4">Telephone No.</label>
        <input type="tel" class="form-control rounded-pill" name="phone" id="inputPassword4" placeholder="Telephone No." value={{rememberFields value.phone}}>
      </div>
    </div>
    <div class="form-group">
      <label for="inputAddress">Address</label>
      <input type="text" class="form-control rounded-pill" name="address1" id="inputAddress" placeholder="1234 Main St" value={{rememberFields value.address1}}>
    </div>
    <div class="form-group">
      <label for="inputAddress2">Address 2</label>
      <input type="text" class="form-control rounded-pill" name="address2" id="inputAddress2"
        placeholder="Apartment, studio, or floor" value={{rememberFields value.address2}}>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputCity">City</label>
        <input type="text" class="form-control rounded-pill" name="city" id="inputCity" placeholder="City" value={{rememberFields value.city}}>
      </div>
      <div class="form-group col-md-4">
        <label for="input-province">Province</label>
        <select id="input-province" name="province" class="form-control rounded-pill">
          {{#if value.province}}
            <option class="bg-secondary text-light" value={{rememberFields value.province}}>{{rememberFields value.province}}</option>
          {{/if}}
          <option value="AB">AB</option>
          <option value="BC">BC</option>
          <option value="MB">MB</option>
          <option value="NB">NB</option>
          <option value="NT">NT</option>
          <option value="NS">NS</option>
          <option value="NU">NU</option>
          <option value="ON">ON</option>
          <option value="PE">PE</option>
          <option value="QC">QC</option>
          <option value="SK">SK</option>
          <option value="YT">YT</option>
        </select>
      </div>
      <div class="form-group col-md-2">
        <label for="inputZip">Zip</label>
        <input type="text" class="form-control rounded-pill" name="zip" id="inputZip" placeholder="A1A 1A1" value={{rememberFields value.zip}}>
      </div>
    </div>
    <div class="text-center">
      <button type="submit" class="btn btn-primary btn-lg rounded-pill text-center mb-4 mt-2">Register Comapany</button>
    </div>
  </form>